html, body, #wrap {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: Arial, Tahoma, Verdana, sans-serif;
}

#left {
  overflow: auto;
  float: left;
  width: 150px;
  margin-left: 10px;
  margin-right: 10px;
  height: 100%;
  font-size: small;
}

#map {
  height: 100%;
  cursor: default;
}

.leaflet-control-layers-list{
  width: 180px;
  font-size: 80%;
}

.leaflet-control-layers-list::after {
  content: "Some content is hosted externally, so enabling it shares your data with other sites.";
}

#logo {
  z-index: 20;
  position: absolute;
  bottom: 50px;
  right: 10px;
}

#center {
  z-index: 20;
  opacity: 0;
  position: absolute;
  width: 800px;
  height: 600px;
  left: 50%;
  top: 50%;
  margin-left: -400px;
  margin-top: -300px;
  pointer-events: none;
}

.leaflet-popup-pane {
  z-index: 40; 
}

.leaflet-control-zoom-display {
  width: 22px;
  height: 22px;
  left: 0px;
  text-align: center;
  background: #F4F4F4;
  font: bold 12px/20px Tahoma, Verdana, sans-serif;
}

.leaflet-touch .leaflet-control-zoom-display {
  width: 30px;
  height: 30px;
  font: bold 18px/32px Tahoma, Verdana, sans-serif;
}

.leaflet-control-all {
  background-image: url(./images/all.png);
}

.leaflet-control-minimap {
  border: solid rgba(255, 255, 255, 0.7) 3px;
  box-shadow: 0 1px 7px #999;
  background: #f8f8f9;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

.leaflet-control-minimap a {
  background-color: rgba(255, 255, 255, 0.75);
  background-position: 1px 2px;
  background-repeat: no-repeat;
  display: block;
  outline: none;
  z-index: 99999;
}

.leaflet-control-minimap a.minimized {
  background-position: 1px -18px;
}

.leaflet-control-minimap-toggle-display {
  background-image: url("images/toggle.png");
  border-radius: 4px 4px 4px 4px;
  height: 19px;
  width: 19px;
  position: absolute;
  bottom: 0;
  right: 0; 
}
