html, body, #map {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;  
  font-family: Arial, sans-serif;
}
img{
border:0px;
}
.leaflet-div-icon {
  background: transparent;
  border: none;
}
.leaflet-marker-icon .number{
  position: relative;
  top: -30px;
  font-size: 13px;
  font-weight:bold;
  color:#FFFFFF;
  width: 32px;
  text-align: center;
}
#tracker { 
  z-index:20;
  color: grey;
  position:absolute;
  top:104px;
  left:9px;
}
#logo { 
  z-index: 20;
  position: absolute;
  bottom: 30px;
  right: 10px;
}
#center {
  z-index: 20;
  position: absolute;
  width: 32px;
  height: 32px;
  left: 50%;
  top: 50%;
  margin-left: -16px;
  margin-top: -16px;
}
#post-it {
  position: absolute;
  z-index: 4;
  bottom: 2em;
  right: 1em;
  width: 10em;
  height: 9em;
  margin-left: 2em;
  padding: 1em;
  float: left;
  background: #fbf5bf;
  border-radius: .125em;
  box-shadow: 2px 2px 6px #999;
  font-size: smaller;
  color: #666;
}
