html, body, #map {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: Arial, Tahoma, Verdana, sans-serif;
}

img{
  border:0px;
}

.leaflet-control-zoom-display {
  width: 22px;
  height: 22px;
  left: 0px;
  text-align: center;
  background: #F4F4F4;
  font: bold 12px/20px Tahoma, Verdana, sans-serif;
}

.leaflet-control-layers-list{
  width: 180px;
  font-size: 80%;
}

.leaflet-control-layers-list::after {
  content: "Some content is hosted externally, so enabling it shares your data with other sites.";
}

.leaflet-touch .leaflet-control-zoom-display {
  width: 30px;
  height: 30px;
  font: bold 18px/32px Tahoma, Verdana, sans-serif;
}

.leaflet-div-icon {
  background: transparent;
  border: none;
}

.leaflet-marker-icon .number{
  position: relative;
  top: -24px;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 10px;
  font-weight: bold;
  color: #FFFFFF;
  width: 24px;
  text-align: center;
}

.leaflet-control-all {
  background-image: url(./images/all.png);
}

.leaflet-control-dest {
  background-image: url(./images/dest.png);
}

.leaflet-control-download {
  background-image: url(./images/download.png);
}

.leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
	-webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-in;
	-moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s ease-in;
	-o-transition: -o-transform 0.3s ease-out, opacity 0.3s ease-in;
	transition: transform 0.3s ease-out, opacity 0.3s ease-in;
}

.leaflet-areaselect-shade {
  position: absolute;
  background: rgba(0,0,0, 0.4);
}
.leaflet-areaselect-handle {
  position: absolute;
  background: #fff;
  border: 1px solid #666;
  -moz-box-shadow: 1px 1px rgba(0,0,0, 0.2);
  -webkit-box-shadow: 1px 1px rgba(0,0,0, 0.2);
  box-shadow: 1px 1px rgba(0,0,0, 0.2);
  width: 14px;
  height: 14px;
  cursor: move;
}

#buttons {
  z-index:20;
  color: grey;
  position:absolute;
  top:104px;
  left:9px;
}

#logo {
  z-index:20;
  position:absolute;
  bottom:30px;
  right:10px;
}

#center {
  z-index: 20;
  position: absolute;
  width: 32px;
  height: 32px;
  left: 50%;
  top: 50%;
  margin-left: -16px;
  margin-top: -16px;
}
